/* .input-field {
    margin-bottom: 10px;
  }
  
  .input-field input {
    margin-left: 10px;
  }

  .input_col {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  body {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-image: url('./bc4.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Add this line */
    height: 170vh;
    width: 100vw;
    filter: brightness(1.2);
    overflow-x: hidden; /* Add this line */
  }
  